@import "bootstrap/bootstrap.scss";
#root {
  height: 100vh;
}

div {
  border-color: red;
  border-width: 2px;
  border-style: solid;
  & > div {
    border-color: green;
    & > div {
      border-color: yellow;
      & > div {
        border-color: blue;
      }
    }
  }
}
