@import "bootstrap/bootstrap.scss";
#root {
  height: 100vh;
}

div {
  border-color: red;
  border-width: 2px;
  border-style: solid;
  & > div {
    border-color: green;
    & > div {
      border-color: yellow;
      & > div {
        border-color: blue;
      }
    }
  }
}

.header {
  .header-menu {
    background: red;
  }
}

.body {
  .header-menu {
    background: blue;
  }
  .header2-menu {
    background: green;
    .li {
      .smth {
      }
    }
  }
}

.body .header-menu {
  background: pink;
}

.body .header-menu {
  background: pink;
}

body {
  // @media screen and (min-width: 700px) and (max-width: 800px) {
  //   background: red;
  // }
  @media screen and (hover: none) {
    background: red;
  }
}

.link {
  color: green;
  &:active {
    color: red;
  }
  &:hover {
    text-decoration: underline;
    font-size: 20px;
  }
}

.p-container {
  .p {
    padding-left: 15px;
    &:first-child {
      padding-left: 30px;
    }
    &:last-child {
      padding-left: 30px;
    }
    &:nth-child(odd) {
      background: rgba(255, 0, 0, 0.1);
    }
  }
}
